{% extends "flicket_base.html" %}
<!-- extend base layout -->
{% block content %}
<div class="container">
    <h1>{{ _('A ocurrido un error inesperado') }}</h1>
    <p>
        {{ _('Reporta este error a tu administrador. Entrega los siguientes detalles:') }}
    </p>
    <ul>
        <li>{{ _('Pagina a la cual navegabas') }}</li>
        <li>{{ _('Momento en el que viste el error.') }}</li>
        <li>{{ _('Otra informacion adicional con la cual se haya producido el error.') }}</li>
    </ul>
    <p><a href="{{ url_for('flicket_bp.index') }}">{{ _('Back') }}</a></p>
</div>
{% endblock %}