{% extends "email_base.html" %}
<!-- extend from base layout -->
{% block content %}
    <h1>
        {{ title }}
    </h1>
    <p>
        Los siguientes tickets que ha creado o que le han sido asignados aún no se han cerrado.
    </p>
    <table>
        <tr>
            <th>Numero del ticket</th>
            <th>Titulo</th>
            <th>Prioridad</th>
            <th>Estado</th>
            <th>Asignación</th>
        </tr>
        {% for ticket in tickets %}
            <tr>
                <td><a href="{{ base_url + url_for('flicket_bp.ticket_view', ticket_id=ticket.id) }}">{{ ticket.id_zfill }}</a></td>
                <td>{{ ticket.title }}</td>
                <td>{{ ticket.ticket_priority.priority }}</td>
                <td>{{ ticket.current_status.status }}</td>
                <td>{{ ticket.assigned.name }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
