<!-- extender desde el diseño base -->
{% extends "flicket_base.html" %}
{% block content %}
    <!-- {{ self._TemplateReference__context.name }} -->
    <div class="container">
        {% include 'admin_menu.html' %}
        <div class="row m-2 b-2 border rounded bg-white">
            <div class="col">
                <h1>{{ title }}</h1>
            </div>
        </div>

        <div class="row m-2 b-2 border rounded bg-white">
            <div class="col ml-5 mr-5">

                <div class="col w-25"></div>

                <div class="col">
                    <form action="" method="post" name="delete_user">
                        {{ form.hidden_tag() }}
                        {{ form.id() }}
                        <div class="row m-2 text-center">
                            <div class="col">
                                {{ _('¿Estás seguro de que quieres eliminar al siguiente usuario? Esto puede afectar las consultas relacionales.') }}
                            </div>
                        </div>

                        <div class="row m-2">
                            <div class="col-4 text-right">
                                {{ _('Nombre de usuario') }}
                            </div>
                            <div class="col">
                                {{ user_details.username }}
                            </div>
                        </div>
                        <div class="row m-2">
                            <div class="col-4 text-right">
                                {{ _('Nombre') }}
                            </div>
                            <div class="col">{{ user_details.name }}</div>
                        </div>
                        <div class="row m-2">
                            <div class="col-4 text-right">
                                {{ _('Correo electrónico') }}
                            </div>
                            <div class="col">
                                {{ user_details.email }}
                            </div>
                        </div>
                        <div class="row m-2">
                            <div class="col-4 text-right">
                                {{ _('Ingrese contraseña') }}
                            </div>
                            <div class="col">
                                {{ form.password(class="form-control form-control-sm") }}
                                {% if form.password.errors %}
                                    <span style="color: red;">
                            {% for error in form.password.errors %}
                                [{{ error }}]
                            {% endfor %}
                            </span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row m-2">
                            <div class="col text-center">
                                <input class="btn btn-danger btn-sm" type="submit" value="eliminar usuario"/>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col w-25"></div>
            </div>
        </div>
    </div>
{% endblock %}